<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/stylesheets/css.css">
    
    <title>Coffeemen birge</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Сo</a>
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link" href="main.html">Menu</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="history.html">My orders</a>
                </li>
              </ul>
          </div>
        </nav>
      </header>
    
      <section class="bg-photo">
        <div class="overlay"></div>
        <div class="bg-content">
            <h2>Welcome {{.Name}}, it's {{.Time}}</h2>
        </div>
      </section>
    
      <main class="container py-5">
        <script>
          fetch('/getClients')
              .then(response => response.json())
              .then(data => {
                  const clientsDiv = document.getElementById('clients');
                  for (const id in data) {
                      const client = data[id];
                      clientsDiv.innerHTML += `<p>${client.name}, любимый кофе: ${client.favCoffee}</p>`;
                  }
              });
      </script>
      </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>